<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- The collection for your tfs-root to export -->
    <add key="TfsTeamProjectCollection" value="https://dorado.questpoint.no/tfs/IntellISearch"/>
    <!-- The root for your Tfs-repository in the given collection  -->
    <add key="TfsRoot" value="$/"/>
    <!-- Not to be used for final run, but nice to use while debugging to be able to easily break when running from within VS -->
    <add key="OutFile" value="git-fast-import-data.bin"/>
    <!-- Helps transition when the company-domain has changed during the TFS repository lifetime. Comma separated key-value pair list: "Old1Domain=New1Domain, Old2Domain=New2Domain" -->
    <add key="MsDomainMap" value="IS=QUESTPOINT"/>
    <!-- Helps transition when the company-mail-domain has changed during the TFS repository lifetime. Comma separated key-value pair list: "Old1MailDomain=New1MailDomain, Old2MailDomain=New2MailDomain" -->
    <add key="MailDomainMap" value="IS=intellisearch.no"/>
    <!-- Users no longer available in the domain will still have a "sensible"email-address. This part will be added to the username when the user is not found in the domain  -->
    <add key="InactiveEmailUsernameExtension" value=".unavailable@intellisearch.no"/>
  </appSettings>
</configuration>